.leaflet-container {
    height: inherit;
    width: inherit;
}

header {
    height: 12.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    gap: 25px;
    background-color: var(--darkColor);
}

footer {
    height: 12.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 15px;
    background-color: var(--darkColor);
}

#Map {
    z-index: 1;
}

#MapContainer {
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#MyPosition {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    width: 50px;
    margin: 10px;
    background-color: #fff;
    padding: 3px;
    transition: 300ms;
}

#MyPosition:hover {
    filter: invert(100%);
}

#Toolbar {
    z-index: 2;
    width: 200px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--toolbarBgColor);
    overflow-y: scroll;
}


#QuestionMark {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    border-radius: 50% ;
    width: 20px;
    margin: 10px;
    padding: 3px;
    background-color: var(--bgColor);
}

#InformationText {
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    min-width: 250px;
    padding: 25px;

    background-color: var(--bgColor);
    color: var(--textColor);
    transition: 500ms;
}

.close-button {
    cursor: pointer;
    width: 20px;
    margin: 5px;
}

#CloseInfoText {
    position: absolute;
    top: 0;
    right: 0;
}

#ToggleToolbar {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.tool-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 100%;
}

.tool-option:not(.first-tool-option) {
    border-top: 1px solid var(--darkColor);
}

.tool-text {
    font-size: small;
    text-align: right;
    color: var(--darkColor);
    width: 75%;
}

#ButtonRouting {
    cursor: pointer;
    border: 1px solid var(--accentColor);
    width: 100%;
    background-color: var(--bgColor);
    padding: 5px;
    border-radius: 5px;
    transition: 300ms;
}

#ButtonRouting:hover {
    background-color: var(--accentColor);
    border-width: 3px;
}
