html, body {
    height: 100%;
    margin: 0;
}

.leaflet-container {
    height: inherit;
    width: inherit;
    /* max-width: 100%;
    max-height: 100%; */
}
#MapContainer {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

#MyPosition {
    cursor: pointer;
    position: absolute;
    z-index: 10000;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    width: 50px;
    margin: 10px;
    background-color: #fff;
    padding: 3px;
    transition: 300ms;
}

#MyPosition:hover {
    filter: invert(100%);
    /* background-color: #000; */
}

#Toolbar {
    z-index: 10000;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
    width: 120px;
    padding: 10px;
    background-color: rgba(220,220,220,0.75);
}

#Toolbar > * {
    border-radius: 10px;
    transition: 200ms;
}

#Toolbar > *:hover {
    background-color: black;
    color: rgb(220,220,220);
}