:root {
    --popupBgColor: #272838;

    --availableColor: #00AEEF;
    --unavailableColor: #FF2700;
    --drankColor: #00B201;
}

.leaflet-popup-content-wrapper, 
.leaflet-popup-tip {
    background-color: var(--popupBgColor);
    color: var(--textColor);
}

.popup-dispo, .popup-indispo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.popup-info > * {
    margin: 5px 0 !important;
}

.status {
    border-radius: 4px;
    padding: 2px;
    font-weight: 900;
    color: var(--popupBgColor);
}

.popup-dispo .status-dispo {
    background-color: var(--availableColor);
}

.popup-indispo .status-dispo {
    background-color: var(--unavailableColor);
}

.popup-bu .status-bu {
    background-color: var(--drankColor);
}

.popup-pasbu .status-bu {
    background-color: var(--textColor);
}

.popup-btn {
    height: 30px;
    border-radius: 8px;
    cursor: pointer;

    font-weight: 600;
    border: none;
}
.popup-btn {
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
      color .2s linear;
    transition-delay: 0.0s, 0.15s;
}

.popup-btn:hover {
    cursor: pointer;
    background-position: -100% 100%;
}

/* DISPONIBLE -> INDISPONIBLE */
.popup-dispo .popup-btn-dispo {
    background-image: linear-gradient(90deg,
        var(--availableColor) 0%,
        var(--availableColor) 50%,
        var(--unavailableColor) 50%,
        var(--unavailableColor) 100%);
}


/* INDISPONIBLE -> DISPONIBLE */
.popup-indispo .popup-btn-dispo {
    background-image: linear-gradient(90deg,
        var(--unavailableColor) 0%,
        var(--unavailableColor) 50%,
        var(--availableColor) 50%,
        var(--availableColor) 100%);
}

/* BU -> INDISPONIBLE */
.popup-indispo.popup-bu .popup-btn-bu {
    background-image: linear-gradient(90deg,
        var(--drankColor) 0%,
        var(--drankColor) 50%,
        var(--unavailableColor) 50%,
        var(--unavailableColor) 100%);
}

/* BU -> DISPONIBLE */
.popup-dispo.popup-bu .popup-btn-bu {
    background-image: linear-gradient(90deg,
        var(--drankColor) 0%,
        var(--drankColor) 50%,
        var(--availableColor) 50%,
        var(--availableColor) 100%);
}

/* INDISPONIBLE -> PAS BU */
.popup-indispo.popup-pasbu .popup-btn-bu {
    background-image: linear-gradient(90deg,
        var(--unavailableColor) 0%,
        var(--unavailableColor) 50%,
        var(--drankColor) 50%,
        var(--drankColor) 100%);
}

/* DISPONIBLE -> PAS BU */
.popup-dispo.popup-pasbu .popup-btn-bu {
    background-image: linear-gradient(90deg,
        var(--availableColor) 0%,
        var(--availableColor) 50%,
        var(--drankColor) 50%,
        var(--drankColor) 100%);
}
