:root {
    --bgColor: #272838;
    --textColor: #cecece;
    --invertBgColor: #d8d7c7;
    
    --errorBgColor: #E53935;
}


html, body {
    height: 100%;
    margin: 0;
    background-color: var(--bgColor);
    color: var(--textColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: underline;
    color: var(--textColor);
}

h1 {
    text-align: center;
    font-weight: bold;
}

h5 {
    font-style: italic;
}

.error-message {
    font-weight: bold;
    padding: 3px;
    color: var(--bgColor);
    background-color: var(--errorBgColor);
}