:root {
  --bgColor: #89AFBD;
  --accentColor: #4B94B0;
  --darkColor: #213B45;
  --textColor: white;
  --fieldColor: #D9D9D9;

  --toolbarBgColor: #DBCDB6;

  --errorBgColor: #4D0609;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: underline;
  color: var(--textColor);
}

h1 {
  text-align: center;
  font-weight: bold;
}

h5 {
  font-style: italic;
}

.error-message {
  font-weight: bold;
  padding: 3px;
  color: var(--bgColor);
  background-color: var(--errorBgColor);
}

input {
  border: none;
}

input:focus{
  outline: none;
}


h2 {
  text-align: left;
  margin-bottom: 0;
}

@media screen and (max-width: 420px) {
  .formLogin {
    font-size: 20px;
  }
  .corps {
    width: auto;
    margin :0 10%;
  }
  h2 {
    margin-top: 15%;
    margin-bottom: 0;
  }
  h1 {
    font-size :32px;
  }
}